:root {
  --thb-lblue: #4ea0ff;
  --thb-blue: #20a9e5;
  --thb-llblue: #b1e5f2;
}

header {
  background-color: var(--thb-lblue);
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.logo {
  width: 200px;
}

.evblue {
  color: var(--thb-blue);
}

.subt {
  opacity: 70%;
  font-size: 16px;
}

#small {
  font-size: 13px;
}

.yw {

  background-color: yellow;
}

#top-table {
  background-color: var(--thb-blue);
  color: white;
}

.tablecoll {
  background-color: var(--thb-llblue);

}